{% extends 'base.html' %}

{% block bodyblock %}
    <br>
    <br>
    <br>
    <form action="#" align="center" method="POST">
        <label>faceuserid</label>
        <input type="text" placeholder="faceuserid" name="faceuserid" required="True">
        <label>Website</label>
        <input type="text" placeholder="website" name="website" required="True">
        <label>Name</label>
        <input type="text" placeholder="name" name="username" required="True">
        <label>Password</label>
        <input type="text" placeholder="password" name="password" required="True">
        <button type="submit">Ok</button>
    </form>
{% endblock %}