{% extends 'base.html' %}
{% block bodyblock %}

    
    {% if value==True %}
        <div>
            <br>
            <br>
            <h4 align="center">Image successfully captured and stored</h4>
            <br>
            <br>
            <h4 align="center">You are now registered and can successfully use the app</h4>
            <br>
            <br>
            <h4 align="center"><i>Navigate to faceapp page for more</i></h4>
        </div>
    {% else %}
        <div>
            <br>
            <br>
            <h3 align="center">Image cannot be captured</h3>
        </div>
    {% endif %}
{% endblock %}
